<li>
    <label for="id_reason">What are you contacting us about?</label>
    <select name="reason" id="id_reason">
        <option>I have a question for you.</option>
        <option>There is a problem with your data.</option>
        <option>Something appears to be broken.</option>
        <option>I like this tool a lot.</option>
    </select>
</li>
<li>
    <label for="id_comment"></label>
    <textarea name="comment" id="id_comment"></textarea>
</li>
<li>
    <label for="id_email">Email Address (optional)</label>
    <input type="text" name="email" id="id_email">
</li>
<li>
	{{ contact_form.humanity_question }}
	{{ contact_form.humanity_answer.label }}
	{{ contact_form.humanity_answer }}
</li>