{% extends "base.html" %}

{% block css %}
	<style>
		#flagForm textarea { height: 10em; }
		.thankyou { display: none; }
	</style>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function() {
			var $flagForm = $('#flagForm');
			$flagForm.submit(function(ev) {
				var params = {
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
					reason: $('#id_reason').val(),
					comment: $('#id_comment').val(),
					email: $('#id_email').val(),
					humanity_question: $('#id_humanity_question').val(),
					humanity_answer: $('#id_humanity_answer').val()
				};
				$.post('/contact/', params, function() {
                    $flagForm.hide();
					$('div.thankyou').show();
				});
				ev.preventDefault();
			});
		});
	</script>
{% endblock %}

{% block content %}
	<div class="feedback">
		<div id="comparisonCity">
			<div id="cityName">
				<h2>Feedback</h2>
			</div>
			<p>Use this form to send us your thoughts/concerns.</p>
	    </div>

		<div class="right">
			<div class="module">
			<form action="/contact/" method="post" id="flagForm" class="normalForm">
				{% csrf_token %}
			    <ul>
				    {% include "_feedback_form.html" %}
				    <li class="button">
				        <button id="submit" type="submit">
		    				<span>Send</span>
		    			</button>
				    </li>
				</ul>
				<div class="clear"></div>
			</form>
			<div class="thankyou">
				<p>Thanks for sending us feedback!</p>
			</div>
		</div>
		</div>
	</div>
{% endblock %}