{% extends "base.html" %}

{% block content %}
<div class="feedback">
	<div id="comparisonCity">
		<div id="cityName">
			<h2>Feedback</h2>
		</div>
		<p>Use this form to send us your thoughts/concerns.</p>
    </div>
	
	
	<div class="right">
		<div class="module">
		<form action="/contact/" method="post" id="flagForm" class="normalForm">
			{% csrf_token %}
		    <ul>
			    <li>
					<label for="id_reason">What are you contacting is about?</label>
					<select name="reason" id="id_reason">
						<option>I have a question for you.</option>
						<option>There is a problem with your data.</option>
						<option>Something appears to be broken.</option>
						<option>I like this tool a lot.</option>
					</select>
				</li>
				<li>
					<label for="id_comment"></label>
					<textarea name="comment" id="id_comment"></textarea>
				</li>
				<li>
					<label for="id_email">Email Address (optional)</label>
					<input type="text" name="comment" id="id_comment"></input>
				</li>
			    <li class="button">
			        <button id="submit" type="submit">
	    				<span>Send</span>
	    			</button>
			    </li>
			</ul>
			<div class="clear"></div>
		</form>
		<div class="thankyou">
			<p>Thanks for sending us feedback!</p>
		</div>
	</div>
	</div>
</div>
{% endblock %}