{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content %}
	<div class="left">
	    <h2>A community cost comparison</h2>
	    <h4>Compare the cost of living and average salaries between areas across the country.</h4>
        <p>
            Upwardly Mobile lets you find out where in the country it's best to live by comparing various types of salary, living and employment data and ranking it based on your preferences. Now go ahead, start moving up!
        </p>
        <div class="sharing">
        	<div id="share-buttons"></div>
        </div>
    </div>
	<div class="right">
		<a id="startComparing" href="{% url get_started %}">Start comparing</a>
	    <div class="splashImage"></div>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block js %}
	<script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
    <script src="http://cdn.gigya.com/js/gigyaGAIntegration.js"></script>
	<script>
		$(document).ready(function() {
			{% comment %}
			if (probablyNotMobile) {
				jsloader(document, 'script', 'twitter-wjs', '//platform.twitter.com/widgets.js');
				jsloader(document, 'script', 'linkedin-jssdk', '//platform.linkedin.com/in.js');
				jsloader(document, 'script', 'facebook-jssdk', '//connect.facebook.net/en_US/all.js#xfbml=1');
			}
			{% endcomment %}

			var ua = new gigya.socialize.UserAction();

	        ua.setLinkBack("http://upwardly.us/");
	        ua.setTitle("Upwardly Mobile");
	        ua.setDescription("Upwardly Mobile lets people find out where in the country they would be better off by comparing various types of data and ranking it based on a person’s preferences. Now go ahead, start moving up!");
	        ua.addMediaItem({
	            type: 'image',
	            href: 'http://upwardly.us/',
	            src: '{% media_url "sharing/facebook-180x180.png" %}'
	        });

	        var params = {
	            containerID: 'share-buttons',
	            layout: 'horizontal',
	            shareButtons: 'facebook,twitter,linkedin',
	            shortURLs: 'never',
	            userAction: ua
	        };

	        gigya.socialize.showShareBarUI(params);

		});
	</script>
{% endblock %}