{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content %}
	<div class="left">
	    <h2>A community cost comparison</h2>
	    <h4>Compare the cost of living and average salaries between areas across the country.</h4>
        <p>
            Upwardly Mobile lets you find out where in the country it's best to live by comparing various types of salary, living and employment data and ranking it based on your preferences. Now go ahead, start moving up!
        </p>
        <div class="sharing">
        	<div class="share-buttons"
				data-socialite="auto"
				data-services="twitter-tweet,facebook-like,linkedin-share"
				data-options="linkBack=http://upwardly.us/&amp;width=180&amp;text=Compare%20the%20cost%20of%20living%20and%20average%20salaries%20between%20areas%20across%20the%20country&amp;showCounts=right"
				data-facebook-like-options="layout=button_count"
				data-twitter-tweet-options="via=sunfoundation"></div>
        </div>
    </div>
	<div class="right">
		<a id="startComparing" href="{% url get_started %}">Start comparing</a>
	    <div class="splashImage"></div>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block js %}
	<script>
		jsloader(document, 'script', 'socialite-js', 'https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js');
	</script>
{% endblock %}