{% load movingup_tags %}

<div class="tabHeader">
	<h3>Quality of Life</h3>
	<a href="#" title="Flag It" class="flagIt">Flag</a>
	<div class="clear"></div>
	<span class="{% bwe comparison.scores.cmp.qol_score %} small"></span><span class="tabRankExplanation">{{ location.name }} ranks {% btwtet comparison.scores.cmp.qol_score %} {% if compare_to %}{{ compare_to.name }}{% else %}the national average{% endif %} in terms of Quality of Life</span>
	<div class="clear"></div>

</div>
<div class="module">

	<h4>Recreation costs as percentage of national average <small>(lower is better)</small></h4>
	<div class="key">
		<span class="resultsCityKey"><span class="color"></span>{{ location.name }}</span>
		{% if compare_to %}
		    <span class="comparisonCityKey"><span class="color"></span>{{ compare_to.name }}</span>
		{% endif %}
		<div class="clear"></div>
	</div>
	<div class="chart" id="recreation-chart"></div>
</div>
<div class="module">
	<h4>How {{ location.name }}, compares...</h4>
	<table>
		<thead>
			<tr>
				<th class="compElement">
				</th>
				<th class="vsCity" title="{{ compare_to.name }}">
					vs {{ compare_to.name|truncatechars:12 }}
				</th>
				<th class="vsUSA">
					vs USA
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				{% with comparison.data.rpp_state_other_goods as data %}
					<td class="compElement">
						Cost of miscellaneous goods
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
			<tr class="odd">
				{% with comparison.data.rpp_state_recreation_goods as data %}
					<td class="compElement">
						Cost of recreation goods
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
			<tr class="even">
				{% with comparison.data.rpp_state_recreation_services as data %}
					<td class="compElement">
						Cost of recreation services
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
			<tr class="odd">
				{% with comparison.data.rpp_state_transportation_goods as data %}
					<td class="compElement">
						Cost of transportation goods
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
			<tr class="even">
				{% with comparison.data.rpp_state_transportation_services as data %}
					<td class="compElement">
						Cost of transportation services
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
			<tr class="odd">
				{% with comparison.data.rpp_state_medical_goods as data %}
					<td class="compElement">
						Cost of medical goods
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
			<tr class="even">
				{% with comparison.data.rpp_state_medical_services as data %}
					<td class="compElement">
						Cost of medical services
						<span class="cmp">{{ data.value|floatformat:1 }}% of national average</span>
					</td>
					<td class="vsCity">
						{% if comparison.compare_to %}
							<span class="{% bwe data.compare_to.cmp %}">{% bwe data.compare_to.cmp %}</span>
							{{ data.compare_to.value|floatformat:1 }}%
						{% endif %}
					</td>
					<td class="vsUSA">
						<span class="{% bwe data.national.cmp %}">{% bwe data.national.cmp %}</span>
						{{ data.national.value|floatformat:1 }}%
					</td>
				{% endwith %}
			</tr>
		</tbody>
	</table>
</div>